.tree {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  .node:after{
    content:"";
    display: block;
    clear: both;
  }
  .node {
    border: 1px solid #000;
    border-bottom: 0;
    background: #ccc;
    .value {
      position: absolute;
      width: 100%;
      text-align: center;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .root {
    position: relative;
    .left {
      position: absolute;
      left: 0;
      top: 70%;
      transform: translate(-50%);
    }
    .right {
      position: absolute;
      right: 0;
      top: 70%;
      transform: translate(50%);
    }
  }
}